@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700&family=Inter:wght@400;500;600&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

:root {

  --font-1: 'Sora', sans-serif;
  --gradiente-primario: linear-gradient(90deg, #9A8AC2, #712cc7);
}

@font-face {
  font-family: 'posk';
  src: url('./fonts/RedditSans-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'posk-bold';
  src: url('fonts/RedditSans-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: 'inter';
  src: url('fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
  font-weight: normal;
}


h1 {
  color: #e5e5e5d5;
  font-family: 'Sora', sans-serif;
  font-weight: 600;
  font-size: 2.5rem;

  letter-spacing: 0.8px;

}

h2 {
  color: #ecececdd;
  font-family: 'Sora', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: 0.8px;

}

h3 {
  color: #d8d8d8e1;
  font-family: 'Sora', sans-serif;
  font-weight: 200;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 0.8px;

}

h4 {
  color: rgb(235, 235, 235);
  font-family: 'Sora', sans-serif;
  font-weight: 100;
  font-size: 1.1rem;
  line-height: 1.5;
  letter-spacing: 0.8px;
}



p {
  color: rgba(225, 225, 225, 0.927);
  font-family: 'Sora', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  opacity: 0.75;
}
.dots-overlay {
  position: fixed;
  inset: 0;
  z-index: ;
  pointer-events: none;
  background-image: radial-gradient(#9a9a9a3b 0.5px, transparent 0.5px);
  background-size: 4px 4px;
  background-repeat: repeat;
}

.noise-overlay {
  position: fixed;
 
  inset: 0;

  width: 100%;
  height: 100%;
  z-index: 1;
 
  filter: url(#grainyNoise);
 
  opacity: 0.23;
  
  pointer-events: none; 
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
}

.spac {
  width: 100%;
  height: 40px;



}
  .ic {
  vertical-align: middle;
  padding: 2px;
  width: 20%;

}

.spac-1 {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.995);
  gap: 40px;
}










body {
  margin: 0;
  background-color: #000000;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top:-220px; /* sobe um pouco */
  left: 50%;
  transform: translateX(-50%);
  width: 1000px;
  height: 300px;

  background: radial-gradient(
    ellipse at center,
    rgba(137, 58, 255, 0.18),
    transparent 70%
  );

  pointer-events: none;
  z-index: -1;
}

/*========================= HEADER =======================*/
header {
  width: 100%;
  height: 70px;


  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;

  z-index: 10;

  padding: 0 20px 0 0;
}

.logo {
  width: 30%;
  height: 50px;

}

nav {
  width: 35%;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  color: rgba(221, 221, 221, 0.9);
  text-decoration: none;
  font-family: var(--font-1);
  font-size: 14px;
}
nav ul li a:hover{
  background: linear-gradient(90deg, #ad46e5, #0682d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

header .btn-header {
  width: 120px;
  height: 30px;
  border-radius: 50px;
 
 border: none;
  color: white;
 background: linear-gradient(90deg, #ad46e5, #0682d4);
}





/* ================= HERO  ================= SESÇÃO 1 */


.hero {
  position: relative;
  min-height: 100vh;
  padding: 140px 8% 80px 8%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  overflow: hidden;

}
.hero-badge {
  position: relative;
  z-index: 2;
  padding: 8px 20px;
  border-radius: 50px;
  background: transparent;
  color: white;
  border: 1px solid rgba(255,255,255,0.15);
  font-size: 0.8rem;
  backdrop-filter: blur(8px);
}



.hero h1 {
  position: relative;
  z-index: 2;
  font-size: 3.5rem;
  max-width: 800px;
  line-height: 1.2;
}



.gradient-text {
  background: linear-gradient(100deg, #ad46e5, #0682d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow:
    0 0 8px rgba(173, 70, 229, 0.5),   /* roxo */
    0 0 12px rgba(6, 130, 212, 0.5);   /* azul */
}



.hero-subtitle {
  position: relative;
  z-index: 2;
  max-width: 600px;
  font-size: 1.1rem;
  opacity: 0.8;
}


.hero-buttons {
  position: relative;
  z-index: 2;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-primary {
  padding: 14px 34px;
  border-radius: 50px;
  border: none;
 background: linear-gradient(90deg, #ad46e5, #0682d4);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 10px 50px rgba(79,70,229,0.4);

}

.btn-primary:hover {
  transform: translateY(-4px);
}

.btn-outline {
  padding: 14px 34px;
  border-radius: 50px;
  border: 1px solid rgba(255,255,255,0.3);
  background: transparent;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-outline:hover {
  background: rgba(255,255,255,0.08);
}

/* ================= PORQUE NOS ESCOLHER ============== SEÇÃO 2 */

.quem-somos {
  width: 100%;
  padding: 120px 0;
  background: #0b0b0f;
  display: flex;
  justify-content: center;
}

.container {
  width: 85%;
  max-width: 1100px;
  text-align: center;
}

.container h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.container h2 span {
  background: linear-gradient(90deg, #d13aff, #4f46e5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.descricao {
  max-width: 700px;
  margin: 0 auto 60px auto;
  font-size: 1rem;
  line-height: 1.7;
  color: #bcbcbc;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.cad{
  padding: 30px;
  border: solid 1px rgba(206, 206, 206, 0.826);
  border-radius: 10px;
  transition: 0.3s ease;
 background-color: #00000050;


}

.cad:hover{
  transform: translateY(-8px);
  border-color: rgba(58, 52, 96, 0.3);
   box-shadow: 0 10px 50px rgba(79,70,229,0.4);
}

.cad h3 {
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.car p {
  font-size: 0.9rem;
  color: #cfcfcf;
  line-height: 1.6;
}

/*======================== NOSSO PROCESSO ==================== SEÇÃO 3  */

.processo {
  padding: 120px 20px;
  text-align: center;
}

.processo h2 {
  font-size: 2.2rem;
  margin-bottom: 15px;
}
.processo P{
font-size: 1rem;
}

.subtitulo {
  opacity: 0.7;
  margin-bottom: 80px;
}

/* Linha horizontal */
.linha-processo {
  display: flex;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
  position: relative;
}



.item {
  max-width: 250px;
}

.numero {
  font-size: 2.5rem;
  font-weight: bold;
  display: block;
  margin-bottom: 15px;
  background: linear-gradient(2deg, #e600ff, #4f46e5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow:
    0 0 10px rgba(79,70,229,0.6),
    0 0 25px rgba(79,70,229,0.5),
    0 0 40px rgba(79,70,229,0.4);
}

.item h3 {
  margin-bottom: 10px;
}

.item p {
  font-size: 0.9rem;
  opacity: 0.8;
}
/*============ CHAMADA FINAL ============= SEÇÃO 4   */

.final-cta {
  width: 100%;
  padding: 100px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
}
.final-content {
  max-width: 700px;
  text-align: center;
}

.final-content h2 {
  font-size: 2rem;
  margin-bottom: 16px;
}

.final-content p {
  font-size: 1rem;
  opacity: 0.85;
  margin-bottom: 32px;
}


.conteudo-img {
  width: 50%;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;


     animation: float 3s ease-in-out infinite;

}


.flut-1,
.flut-2 {

  width: 140px;
  height: 40px;
  margin-top: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px rgba(255, 255, 255, 0.277);

  position: absolute;
   box-shadow: 0 10px 50px rgba(79,70,229,0.4);
  /* glow suave */
   background: linear-gradient(45deg, #e600ff, #4f46e5);
     animation: float 3s ease-in-out infinite;
}
@keyframes float {
   0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
  
}

.flut-1,
.flut-2,
p {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 0.7rem;
}

.flut-1 {

  left: 80px;
  top: 130px;

}

.flut-2 {

  bottom: 130px;
  left: 550px;

}


.img-conteudo {
  width: 100%;

  filter: brightness(0.75);

}
/*==================== FORMULARIO ===============================*/




.benefits {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;


}

.benefits p {
  font-size: 0.8rem;
}


.fomu{
width: 100%;
height: 600px;

display: flex;
align-items: center;
justify-content: center;
}
.extras{
  width: 30%;
  min-height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;


}
.cta-info {
  color: #ddd;
  max-width: 400px;
}

.cta-info h3 {
  font-size: 24px;
  margin-bottom: 20px;
  background: linear-gradient(90deg, #ad46e5, #0682d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.info-item {
  margin-bottom: 15px;
  font-size: 16px;
  opacity: 0.9;
}
.formulario {
  width: 50%;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  b

}

.card {
  width: 100%;
  max-width: 420px;
  padding: 32px;
  border-radius: 24px;
  background: linear-gradient(135deg,
      #ffffff40,
      rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  color: #fff;
    background: linear-gradient(45deg, #e600ff, #4f46e5);
    box-shadow: 0 10px 50px rgba(79,70,229,0.4);
}


.card h1 {
  font-size: 28px;
  margin-bottom: 8px;
}

.card p {
  font-size: 15px;
  opacity: 0.9;
  margin-bottom: 24px;
}


form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

input {
  padding: 14px 16px;
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: rgba(179, 179, 179, 0.626);
  color: #fff;
  outline: none;
  font-size: 14px;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

input:focus {
  border-color: #fff;
}
.btn-form {
  margin-top: 8px;
  padding: 14px;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
background-color: #bdbdbd9c;
}

  


button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}


/*==================== FOOTER  =========================*/

.footer {
  width: 100%;
  min-height: 400px;
  background-color: #131212;

}

.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.logo-footer {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;




}

.footer .logo-footer p {

  color: white;


}

.footer-contact {
  min-height: 300px;


  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;



}

.footer-contact p {
  color: white;

}

.footer-faq p,
ul li {
  color: white;
  font-size: 0.9rem;
  opacity: 0.8;

}

.socials {
  width: 150px;
  min-height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.footer-faq {

  min-height: 300px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;

}

.sats {

  min-height: 300px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;

}

.footer-bottom {

  min-height: 70px;

  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: center;
}











